body {
  min-width: 98vw;
  max-width: 98vw;
  min-height: 98vh;
  max-height: 98vh;
  overflow: hidden;
}

*:focus {
  outline: none;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  border-left: black;
}

.chat-container > form {
  padding: 0px; 
  bottom: 0; 
  width: 100%;
  height: 5%;
  flex-direction: unset;
  border: none;
}

.chat-container > form input {
  width: 66%;
  height: 100%;
  padding: 0px;
  border: none;
}

.chat-container > form input[type="text"] {
  padding-left: 2%;
  padding-right: 2%;
}

.chat-container > form button {
  width: 30%; 
  background: rgb(130, 224, 255);
  height: 100%;
  padding: 0px;
  border: none;
  border-bottom-right-radius: 5px;
}

#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.msg-other {
  padding: 5px 10px;
  background: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.msg-self {
  padding: 5px 10px;
  background: gainsboro;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}
  
/* Style the header */
.header {
  grid-area: header;
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: solid;
  border-width: 2px;
  background-color: whitesmoke;
}

.header input[type=text] {
  background-color: white;
  border: none;
  outline: none;
  font-size: 17px;
  width: 90vw;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-row-gap: 10px;
  grid-template-areas: 
    'header header header header header header header header header header' 
    'left main-content main-content main-content main-content main-content main-content main-content main-content main-content';
  grid-column-gap: 10px; 
  height: auto;
} 

.left {
  height: 88vh;
  max-height: 88vh;
}

/* Style the left column */
.left {
  grid-area: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: solid;
  border-width: 2px;
  background-color: whitesmoke;
  min-width: 12vw;
  max-width: 12vw;
}

/* Style the main-content class */
.main-content {
  grid-area: main-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: solid;
  border-width: 2px;
  background-color: whitesmoke;
  text-align: left;
  display: flex;
  height: 88vh;
  max-height: 88vh;
  max-width: 86vw;
  min-width: 86vw;
  position: relative;
  z-index: 1;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
  'header header header header header header header header header header' 
  'left main-content main-content main-content main-content main-content main-content main-content main-content main-content ';
  }

  #col3 {
    visibility: hidden;
  }
}  

.accordion {
  background-color: whitesmoke;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-size:large;
  font-weight: bold;
  border-bottom-style:ridge;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 10px;
  background-color: whitesmoke;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-indent: 5%;
}

.column-container {
  display: flex;
  border-right-color: black;
  width: 100%;
  border-right:black;
  overflow-x: scroll;
  overflow-y: hidden;
}

.column {
  border:solid;
  width: 250px;
  min-width: 250px;
  height: 80vh;
  padding: 1%;
  margin: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: whitesmoke;
  float: left;
}

.column input[type=text]{
  border-style: none;
  font-size: 15px;
  font-weight: bold;
  float: left;
  text-align: center;
  align-self: center;
  outline: none;
  background-color: whitesmoke;
}
