textarea {
  width: 200%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  float: right;
}

label {
  font-size: 120%;
  font-weight: bold;
}

#taskForm {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 320px;
  float: left;
  margin: 20px;
}

#submit {
  font-weight: bold;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

#delete {
  font-weight: bold;
  padding: 20px;
  position: absolute;
  right: 90px;
  top: 0;
  background-color: red;
}
